.stack-work/stack.sqlite3
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/setup-config
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/ImageToVector.dyn_hi
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/ImageToVector.dyn_o
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/ImageToVector.hi
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/ImageToVector.o
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/libHSimage-0.1.0.0-7CGfrbjG1VP9E0BqNW2az2-ghc8.8.3.dylib
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/libHSimage-0.1.0.0-7CGfrbjG1VP9E0BqNW2az2.a
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/Paths_image.dyn_hi
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/Paths_image.dyn_o
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/Paths_image.hi
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/Paths_image.o
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/autogen/cabal_macros.h
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/autogen/Paths_image.hs
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/image-exe/image-exe
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/image-exe/autogen/cabal_macros.h
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/image-exe/autogen/Paths_image.hs
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/image-exe/image-exe-tmp/Main.hi
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/image-exe/image-exe-tmp/Main.o
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/image-exe/image-exe-tmp/Paths_image.hi
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/image-exe/image-exe-tmp/Paths_image.o
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/package.conf.inplace/image-0.1.0.0-7CGfrbjG1VP9E0BqNW2az2.conf
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/package.conf.inplace/image-0.1.0.0-Jj4TgkDilaE2JOIxI5Z16R.conf
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/package.conf.inplace/package.cache
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/stack-build-caches/0412420184badbba9b223d7152d464babfa6b3e92ddcda09c54ab33e50036cde/exe-image-exe
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/stack-build-caches/0412420184badbba9b223d7152d464babfa6b3e92ddcda09c54ab33e50036cde/lib
.stack-work/ghci/61e8ddde/cabal_macros.h
.stack-work/install/x86_64-osx/0412420184badbba9b223d7152d464babfa6b3e92ddcda09c54ab33e50036cde/8.8.3/bin/image-exe
.stack-work/install/x86_64-osx/0412420184badbba9b223d7152d464babfa6b3e92ddcda09c54ab33e50036cde/8.8.3/doc/image-0.1.0.0/LICENSE
.stack-work/install/x86_64-osx/0412420184badbba9b223d7152d464babfa6b3e92ddcda09c54ab33e50036cde/8.8.3/lib/x86_64-osx-ghc-8.8.3/libHSimage-0.1.0.0-7CGfrbjG1VP9E0BqNW2az2-ghc8.8.3.dylib
.stack-work/install/x86_64-osx/0412420184badbba9b223d7152d464babfa6b3e92ddcda09c54ab33e50036cde/8.8.3/lib/x86_64-osx-ghc-8.8.3/image-0.1.0.0-7CGfrbjG1VP9E0BqNW2az2/ImageToVector.dyn_hi
.stack-work/install/x86_64-osx/0412420184badbba9b223d7152d464babfa6b3e92ddcda09c54ab33e50036cde/8.8.3/lib/x86_64-osx-ghc-8.8.3/image-0.1.0.0-7CGfrbjG1VP9E0BqNW2az2/ImageToVector.hi
.stack-work/install/x86_64-osx/0412420184badbba9b223d7152d464babfa6b3e92ddcda09c54ab33e50036cde/8.8.3/lib/x86_64-osx-ghc-8.8.3/image-0.1.0.0-7CGfrbjG1VP9E0BqNW2az2/libHSimage-0.1.0.0-7CGfrbjG1VP9E0BqNW2az2.a
.stack-work/install/x86_64-osx/0412420184badbba9b223d7152d464babfa6b3e92ddcda09c54ab33e50036cde/8.8.3/lib/x86_64-osx-ghc-8.8.3/image-0.1.0.0-7CGfrbjG1VP9E0BqNW2az2/Paths_image.dyn_hi
.stack-work/install/x86_64-osx/0412420184badbba9b223d7152d464babfa6b3e92ddcda09c54ab33e50036cde/8.8.3/lib/x86_64-osx-ghc-8.8.3/image-0.1.0.0-7CGfrbjG1VP9E0BqNW2az2/Paths_image.hi
.stack-work/install/x86_64-osx/0412420184badbba9b223d7152d464babfa6b3e92ddcda09c54ab33e50036cde/8.8.3/pkgdb/image-0.1.0.0-7CGfrbjG1VP9E0BqNW2az2.conf
.stack-work/install/x86_64-osx/0412420184badbba9b223d7152d464babfa6b3e92ddcda09c54ab33e50036cde/8.8.3/pkgdb/package.cache
images/test_image2.txt
images/test_image2.jpg
.stack-work/stack.sqlite3
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/setup-config
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/ImageToVector.dyn_hi
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/ImageToVector.dyn_o
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/ImageToVector.hi
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/ImageToVector.o
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/Paths_image.dyn_hi
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/Paths_image.dyn_o
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/Paths_image.hi
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/Paths_image.o
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/autogen/cabal_macros.h
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/autogen/Paths_image.hs
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/image-exe/image-exe
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/image-exe/autogen/cabal_macros.h
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/image-exe/autogen/Paths_image.hs
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/image-exe/image-exe-tmp/Main.hi
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/image-exe/image-exe-tmp/Main.o
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/image-exe/image-exe-tmp/Paths_image.hi
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/image-exe/image-exe-tmp/Paths_image.o
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/package.conf.inplace/image-0.1.0.0-Jj4TgkDilaE2JOIxI5Z16R.conf
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/package.conf.inplace/package.cache
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/stack-build-caches/0412420184badbba9b223d7152d464babfa6b3e92ddcda09c54ab33e50036cde/exe-image-exe
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/stack-build-caches/0412420184badbba9b223d7152d464babfa6b3e92ddcda09c54ab33e50036cde/lib
.stack-work/install/x86_64-osx/0412420184badbba9b223d7152d464babfa6b3e92ddcda09c54ab33e50036cde/8.8.3/pkgdb/package.cache
.stack-work/stack.sqlite3
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/setup-config
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/ImageToVector.dyn_hi
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/ImageToVector.dyn_o
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/ImageToVector.hi
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/ImageToVector.o
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/Paths_image.dyn_hi
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/Paths_image.dyn_o
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/Paths_image.hi
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/Paths_image.o
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/autogen/cabal_macros.h
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/autogen/Paths_image.hs
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/image-exe/image-exe
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/image-exe/autogen/cabal_macros.h
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/image-exe/autogen/Paths_image.hs
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/image-exe/image-exe-tmp/Main.hi
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/image-exe/image-exe-tmp/Main.o
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/image-exe/image-exe-tmp/Paths_image.hi
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/image-exe/image-exe-tmp/Paths_image.o
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/package.conf.inplace/image-0.1.0.0-Jj4TgkDilaE2JOIxI5Z16R.conf
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/package.conf.inplace/package.cache
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/stack-build-caches/0412420184badbba9b223d7152d464babfa6b3e92ddcda09c54ab33e50036cde/exe-image-exe
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/stack-build-caches/0412420184badbba9b223d7152d464babfa6b3e92ddcda09c54ab33e50036cde/lib
.stack-work/install/x86_64-osx/0412420184badbba9b223d7152d464babfa6b3e92ddcda09c54ab33e50036cde/8.8.3/pkgdb/package.cache
.stack-work/stack.sqlite3.pantry-write-lock
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build-lock
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/stack-cabal-mod
.stack-work/dist/x86_64-osx/Cabal-3.0.1.0/package.conf.inplace/package.cache.lock
.stack-work/install/x86_64-osx/0412420184badbba9b223d7152d464babfa6b3e92ddcda09c54ab33e50036cde/8.8.3/pkgdb/package.cache.lock
.stack-work/install/x86_64-osx/258097c3ea8c307531ab0f1ae65da3a25d978e8ab096a085963df7fe859282b3/8.8.3/pkgdb/package.cache
.stack-work/install/x86_64-osx/258097c3ea8c307531ab0f1ae65da3a25d978e8ab096a085963df7fe859282b3/8.8.3/pkgdb/package.cache.lock
.stack-work/install/x86_64-osx/3fdf7306ab4a4fbd79135c811dee908e4e643712afa212f9669d39bc283024a6/8.8.3/pkgdb/package.cache
.stack-work/install/x86_64-osx/3fdf7306ab4a4fbd79135c811dee908e4e643712afa212f9669d39bc283024a6/8.8.3/pkgdb/package.cache.lock
.stack-work/install/x86_64-osx/41bcae5d868de5c26fed891c2b15029eadb33fc5a5a9680b8aae09858fd2a733/8.8.3/pkgdb/package.cache
.stack-work/install/x86_64-osx/41bcae5d868de5c26fed891c2b15029eadb33fc5a5a9680b8aae09858fd2a733/8.8.3/pkgdb/package.cache.lock
.stack-work/install/x86_64-osx/63643e004823588559bcf791e2a3b5030bc974d9dffa4890a9dee23b7d499c64/8.8.3/pkgdb/package.cache
.stack-work/install/x86_64-osx/63643e004823588559bcf791e2a3b5030bc974d9dffa4890a9dee23b7d499c64/8.8.3/pkgdb/package.cache.lock
.stack-work/install/x86_64-osx/7cd1543540777415849a3c286f57b923da541ce380c2445e7f13e884f747aa04/8.8.3/pkgdb/package.cache
.stack-work/install/x86_64-osx/7cd1543540777415849a3c286f57b923da541ce380c2445e7f13e884f747aa04/8.8.3/pkgdb/package.cache.lock
.stack-work/install/x86_64-osx/b0e8473a68d4575132d0b3669fd7841e314bf95e4e30f066d3ac30b7281697bf/8.8.3/pkgdb/package.cache
.stack-work/install/x86_64-osx/b0e8473a68d4575132d0b3669fd7841e314bf95e4e30f066d3ac30b7281697bf/8.8.3/pkgdb/package.cache.lock
.stack-work/install/x86_64-osx/eef615d3de66be9be971bfdc322e75653c8672ab79a9bc1709356717dde29b24/8.8.3/pkgdb/package.cache
.stack-work/install/x86_64-osx/eef615d3de66be9be971bfdc322e75653c8672ab79a9bc1709356717dde29b24/8.8.3/pkgdb/package.cache.lock
